<div class="nav nav-buttons">
  <ng-container *ngFor="let round of quizTemplate?.roundsIndex | keyvalue">
    <button type="button" class="btn btn-apiit btn-block"
            (click)="this.startQuiz(round.value.index)">{{ round.value.name }}</button>
  </ng-container>
</div>

<div *ngIf="this.quizState === QuizStateEnum.LOADING">
	<app-spinner></app-spinner>
</div>
<div class="question" *ngIf='this.quizState === QuizStateEnum.NEXT_QUESTION'>
	<div class="col-sm">
		<p [innerHTML]="currentQuestionNumber + '. ' + currentQuestion.text" ></p>
		<div class="row">
			<div [ngClass]="hasMultimedia() ? 'col-sm-8' : 'col-sm'">
        <ol>
          <ng-container *ngFor="let option of currentQuestion.options; let i = index">
            <li class="option" id="{{ 'option' + (i + 1) }}"
                (click)="markSelected($event, i)" [innerHTML]="option.text"></li>
          </ng-container>
        </ol>
			</div>
			<div class="col-sm-4"
				[innerHTML]="multimedia"
				*ngIf="hasMultimedia()"></div>
		</div>
	</div>
</div>

<div class="quiz-nav" *ngIf='this.quizState === QuizStateEnum.NEXT_QUESTION'>
	<div id="timer" *ngIf="timerString != ''">
		<span class="timer">{{ timerString }}</span>
	</div>
  <ng-container *ngIf="quizTemplate && !quizTemplate.rounds[activeRound].countdownAutoStart">
    <div style="margin-bottom: 3em;">
      <div class="mb-2">
        <button type="button" class="btn btn-apiit btn-block" (click)='this.startTimer()'>Start Timer</button>
      </div>
      <div class="mb-2">
        <button type="button" class="btn btn-danger btn-block" (click)='this.resetTimer()'>Reset Timer</button>
      </div>
    </div>
  </ng-container>
	<div class="mb-2">
		<button type="button" class="btn btn-apiit btn-block" (click)='this.revealAnswer()'>Reveal</button>
	</div>
	<div class="mt-2">
		<button type="button" class="btn btn-danger btn-block" (click)='this.nextQuestion()'>Next</button>
	</div>
</div>
