html, body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  margin-top: -50px;
}

.btn-apiit {
	background-color: #00b1aa;
	border-color: #00b7b0;
	color: #fff;
}

img.question-multimedia {
  max-width: 200%;
}

div.code-small {
    font-size: 0.7em;
    display: inline-block;
    line-height: 1em;
}
